<ion-header>
  <ion-toolbar>
    <ion-title>Ausstehende Bestellungen</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='page-content'>
  <ion-item *ngFor="let order of orders">
    <ion-img [src]="order.offer.imageUrl" class="order-offer-image"></ion-img>
    <ion-label>{{order.offer.name}}</ion-label>
    <ion-badge slot="end">{{order.amount}}</ion-badge>
  </ion-item>

  <ion-card *ngIf="orders.length === 0">
    <ion-item>
      <ion-label>Keine ausstehenden Bestellungen</ion-label>
    </ion-item>

    <ion-card-content>
      Für kommenden Dienstag sind derzeit keine Bestellungen hinterlegt.
    </ion-card-content>
  </ion-card>
</ion-content>
