<ion-content>
  <div class="container-fluid body">
    <div class="m-2">

      <div class="bg-img text-center my-2"><img src="/assets/icon/profile_pic.png"></div>

      <div class="form-warp my-2">
        <div class="form-inner">
          <h1 class="title center">Einloggen</h1>

          <div class="authErr" *ngIf="authError">
            <div class="alert alert-danger">
              {{ authError?.message}}
            </div>
          </div>

          <div class="d-grid mt-5">
            <button class="btn btn-outline-danger d-flex justify-content-center align-items-center" (click)="login()">
              <ion-icon name="logo-google" class="pe-1"></ion-icon>
              Mit Google einloggen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
