<ion-app>
  <ion-menu menuId="main-menu" contentId="main-menu" type="overlay">
    <ion-content>
      <div class="menu-header-bg"></div>

      <div class="header-content">
        <img src="/assets/icon/user_pic.png">
        <ion-label *ngIf="user">
          <h2>{{ user?.displayName }}</h2>
          <p>{{ user?.email }}</p>
        </ion-label>
      </div>

      <div class="action-button">
        <ion-button (click)="logOut()">
          Ausloggen
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-list lines="none">
        <ion-item button [routerLink]="['/offers']" (click)="closeMenu()">
          <ion-icon style="color: black;" name="fast-food-outline" slot="start"></ion-icon>
          <ion-label>Angebote</ion-label>
        </ion-item>

        <ion-item button [routerLink]="['/orders']" (click)="closeMenu()">
          <ion-icon style="color: black;" name="cart-outline" slot="start"></ion-icon>
          <ion-label>Bestellungen</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>

  </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>
</ion-app>
