<ion-header>
  <ion-toolbar>
    <ion-title>Neues Angebot hinzufügen</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/offers']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='page-content'>
  <div class="container-fluid">

    <div class="form">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label position="floating">Produkt Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Beschreibung</ion-label>
          <ion-textarea formControlName="description" auto-grow="true"></ion-textarea>
        </ion-item>

        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>Produktbild</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="!isFileUploading && isFileUploaded">
              <div *ngIf="uploadedImageUrl | async as fileUrl">
                <img [src]="fileUrl" />
              </div>
            </div>

            <ion-button color="primary" size="medium">
              <input type="file" formControlName="image" (change)="uploadImage($event.target.files)" />
            </ion-button>

            <div *ngIf="isFileUploading">
              <div *ngIf="percentageVal | async as percentage">
                <ion-label>{{ percentage | number }}%</ion-label>
                <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-button expand="block" type="submit" [disabled]="!formGroup.valid">Hinzufügen</ion-button>
      </form>
    </div>

  </div>
</ion-content>
