<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Backery App
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openSideNav()" expand="block" fill="clear" shape="round">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m-2">
    <div class="mt-4">

      <ion-item (click)="goToOffers()">
        <ion-label>Angebote inseriert</ion-label>
        <ion-badge color="primary" slot="end">{{amountOffers}}</ion-badge>
      </ion-item>

      <ion-item (click)="goToOrders()">
        <ion-label>Ausstehende Bestellungen</ion-label>
        <ion-badge color="danger" slot="end">{{amountOrders}}</ion-badge>
      </ion-item>

    </div>
  </div>
</ion-content>
