<ion-header>
  <ion-toolbar>
    <ion-title>Angebote</ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='page-content'>
  <div class="container-fluid">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['add']">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-card *ngFor="let offer of offers">
      <div class="offer-image" [ngStyle]="{'background-image': 'url(' + offer.imageUrl + ')'}"></div>

      <ion-card-header>
        <ion-card-title>{{offer.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content [innerHTML]="formatDescription(offer.description)">
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
